/* 
██████╗ ███████╗███████╗███████╗████████╗    
██╔══██╗██╔════╝██╔════╝██╔════╝╚══██╔══╝    
██████╔╝█████╗  ███████╗█████╗     ██║       
██╔══██╗██╔══╝  ╚════██║██╔══╝     ██║       
██║  ██║███████╗███████║███████╗   ██║       
╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝   ╚═╝       
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Lato-Light", "sans-serif";
  box-sizing: border-box;
  --imagewidth: 70%;
  --messagewidth: 95%;
  --sombre: #202b38;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--sombre);
}
