/* 
██████╗ ███████╗███████╗███████╗████████╗    
██╔══██╗██╔════╝██╔════╝██╔════╝╚══██╔══╝    
██████╔╝█████╗  ███████╗█████╗     ██║       
██╔══██╗██╔══╝  ╚════██║██╔══╝     ██║       
██║  ██║███████╗███████║███████╗   ██║       
╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝   ╚═╝       
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Lato-Light", "sans-serif";
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  margin: 0;
  background-color: #202b38;
  color: white;
  margin: auto;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  font-weight: 20px;
  margin: 30px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}
a:link {
  text-decoration: none;
  color: #ffffff;
}
h1 {
  margin: 2rem 20px;
}

p {
  margin: 1rem 30px;
}

h2 {
  margin: 1rem 30px;
}
input {
  display: block;
  margin: 10px 30px;
}
select {
  display: block;
  margin: 10px 30px;
}
label {
  display: block;
  margin: 0px 30px;
  font-size: 1.5rem;
}
textarea {
  margin: 10px 30px;
}

#croix {
  background-color: red;
  text-decoration: none;
  color: black;
  padding: 5px;
  border: solid 1px black;
}

ul {
  margin: 20px 0px;
}

#submit {
  padding: 10px 20px;
}

.error {
  color: red;
  border: solid 1px black;
  padding: 5px;
  width: 25%;
}

#new-note2 {
  border-radius: 15px;
  background-color:  #384a61;
  font-size: 2rem;
  width: 28%;
  margin-left: 10px;
  padding: 0px 8px;
  text-align: center;
}

table {
margin-top: 1rem;
}

#hr1 {
  width: 15%;
}

#notes {
  margin-bottom: 0px;
  margin-left: 30px;
}

table button {
  margin: 10px 0px;
  width: 120%;
  display: block;
}
table,
tr,
td,
th {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.233);
}
td,
th {
  padding: 45px !important;
}

th{
text-align: center !important;
}
button {
background-color: #3f5570;
text-decoration: none;
color: white;
padding : 10px;
}
.note {
margin: 30px;
}

img {
margin: 30px;
}